* {
  box-sizing: border-box;
}


body {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  max-width: 320px;
  min-width: 280px;
  flex-basis: 300px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 0 10px #d37c3b;
  text-align: center;
}

.edit-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d37c3b;

}

.user-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.membership-section {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  margin-top: auto;
}

.social-links-list {
  display: flex;
  gap: 15px
}


.socian-lnk {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
}